*{
    box-sizing: border-box;
}
.sidebar{
   position: fixed;
   top:0;
   left: 0;
    height: 100vh;
    width: 250px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2px 8px 0.2px #797979;
    padding-top: 20px;
    z-index: 105;
    transform: translateX(-250px);
    transition: transform 300ms ease-in-out;
}

.sidebar>div>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: rgb(156, 156, 194);
    margin-top: 300px;
}

.sidebar>div>div>div{
    width: 100%;
   border-bottom: 1px solid whitesmoke;
   align-self: start;
   
}

.on{
   transform: translateX(0px);
  
}
