

.container{
    box-shadow: none;
    justify-content: center;
    flex-shrink: 1;
    display: flex;
}
.contact{
    display: none;
}

.contact img{
   height: 100%;
   width: 100%;
}

.contact div{
   position: absolute;
   top:65px;
   left:40%;
}

.contact h3{
   color: rgb(71, 32, 71);
   margin-bottom: 5px;
   font-size: 24px;
}

.contact h4,h4 a{
    color: rgb(243, 229, 243);
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 60%;
    padding-top: 60px;
    background-color: palegoldenrod;
    text-align:start;
    box-shadow: 4px 4px 10px 0.2px #575656;
    margin-top: 70px;
}


#message{
    width: 70%;
    height: 200px;
    text-align: start;
}

.form button{
    padding: 20px 30px;
    margin:10px 10px;
    border: rosybrown;
    border-radius: 7px;
    background-color:rgb(111, 89, 121) ;
    color: whitesmoke;
}

.form button:hover{
  background-color: hotpink;
}

.form button:disabled{
    background-color: lavender;
    cursor: not-allowed;
}


.details{
    align-self:flex-start ;
    margin-top: 50px;
    font-weight: 100;
    font-family: Monserrat;
    color: rgb(96, 74, 139);
    padding:10px;
}

.details a{
    color: rgb(96, 74, 139)
}

@media(min-width:840px){
    .container{
        height: 600px;
        width: 800px;
        display: flex;
        flex-direction: row;
        margin:80px auto;
        box-shadow: 4px 4px 10px 0.2px #575656;
        text-align: initial;
        margin-top: 70px;

    }
    .contact{
        display: block;
        height: 100%;
        width: 45%;
        position: relative;
        text-align: start;
    }
    .form{
        height: 100%;
        box-shadow: none;
        margin-top: 0;
    }
    .details{
        display: none;
    }
}