.nav-list{
    display: flex;
    list-style: none;
    padding: 0px 35px;
    margin: 0;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}

.nav-list a,
.nav-list p{
    text-decoration: none;
    color:white;
    padding: 10px 10px;
    margin: 10px 10px;
    font-weight: 800;
    font-size: 12px;
}

.navdisplay{
    transform: translateX(-100%);
    transition: transform  300ms ease-in-out;
}

.add{
    transform: translateX(100%);
}

.menu div{
    border: white 1px solid;
    height:4px;
    width: 35px;
    margin-bottom:4px;
    background-color: white;
    left:20px;
    
}
.menu{
    justify-self: start;
    margin-right: 55%;
}

.menu div:hover,
.menu p:hover{
    cursor: pointer;
}

@media(min-width:700px){
    .menu div{
        display:none ;
        }
    .nav-list p{
        display: none;
    }
}
@media(max-width:700px){
    .nav-list p{
        display: none;
    }
    .middleNav{
        display: none;
    }
}


