*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.Who{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top,white 50%,rgb(199, 172, 192) );
    align-items: center;
}

.Who div{
    width: 90%;
    height: 100%;
}
.Who div:first-of-type{
    background-color: rgb(62, 40, 80);
    box-shadow: 2px 0 6px 0.2px rgb(100, 100, 100);
    
}


.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Who img{
    padding: 30px 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 50px;
    height: 80%;
    width: 80%;
}

.Who h2{
    margin: 10px 20px;
    padding: 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(62, 40, 80);
    
}

.Who p{
    width: 80%;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 ;
    letter-spacing: 1px;
    text-align: justify;
}

.certificates{
    margin: 20px 30px;
}

.certificates div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificates h2{
    margin-bottom: 40px;
}

.certificates a{
    text-decoration: none;
}

.crDisplay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.crDisplay div div{
    width:80%;
    height:28%;
}

@media(min-width:620px){
    .Who img{
        height: 50%;
        width: 50%;
    }
    .Who{
       margin-top: 60px;
    }

}

@media(min-width:820px){
    .Who{
        flex-direction: row;
    }
    .certificates div{
        flex-direction: row;
        justify-content: center;
    }
}