.element{
    padding: 10px 10px;
    margin:10px 10px;
    border: none;
    width: 90%;
}

.element:focus,
input[type=submit]:focus
{
  outline: none;
}

div label{
  color: rgb(96, 74, 139);
}

.desc{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 1;
}


.false{
  background-color: rosybrown;
  border: 2px solid salmon;
}

@media(min-width:600px){
  .desc{
    flex-direction: row;
  }
}