.work{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 100px;
}
.work a{
    text-decoration: none;
}
.top h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: rgb(50, 36, 78);
    margin-top: 100px;
}